$light-blue: #90e0ef;
$apple-green: #a5be00;
$hard-gray: #bcbd8b;
$light-gray: #d7e3fc;

@mixin bg-color-text( $name, $radius ) {
  background: $name;
  border-radius: $radius;
  position: relative;
}

.r-light-blue { @include bg-color-text( $light-blue, 72% 28% 82% 18% / 23% 42% 58% 77% ); }
.r-apple-green { @include bg-color-text( $apple-green, 93% 7% 22% 78% / 23% 42% 58% 77%  ) }
.r-hard-gray { @include bg-color-text( $hard-gray, 83% 17% 79% 21% / 39% 39% 61% 61%    ) }
.r-light-gray { @include bg-color-text( $light-gray, 83% 17% 79% 21% / 39% 39% 61% 61%    ) }

