@import "bootstrap/dist/css/bootstrap.css";
//@import 'swiper/swiper-bundle.css';


// ======== Global styles for all elements ========
* {
  font-family: Gilroy;
  font-weight: 300;
}

body {
  overscroll-behavior: none;
  left: 0;
  top: 66px;
  bottom: 0;
  right: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ECEDED;
}
// Style for all li and li which have teg a in the project
li {
  list-style-type: none;
  a {
    color: #333333;
  }
}

