$bg-text: blue;

/* Common */
$white: #ffffff;
$border: #CCCCCC;
$radius-block: 20px;

/* NavBar */
$radius-item: 20px;
$font-size-navbar: 14px;
$border-style: 1px solid red;
$background-block: #FEFEFE;

/* Footer */
$footer-padding: 15px 15px;

