$bg-text: blue;

/* Common */
$white: #ffffff;
$black: #333333;
$border: #CCCCCC;
$radius-block: 20px;
$sub-title: #564e46;
$card-bg: #e6e7e7;

/* NavBar */
$radius-item: 20px;
$font-size-navbar: 14px;
$border-style: 1px solid red;
$background-block: #FEFEFE;

/* Footer */
$footer-padding: 15px 15px;
$color-text-footer: #5c6b73;

